html {
  height: 100%;
}

body {
  /*margin: 0 0 0 20px;*/
  height: 100%;
}

h1 {
  font-size: 24px;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Open Sans', sans-serif;
}

h3 {
  color: #F38630;
}

button {
  margin: 4px;
  padding: 4px;
  border-radius: 3px;
}

a {
  color: #69D2E7;
  text-decoration: none;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

.white-text {
  color: #fff;
}

.gray-text {
  color: rgba(0,0,0,.8);
}

.title {
  padding: 4px;
  font-size: 22px;
  font-weight: bold:
}

.label {
  display: inline-block;
  width: 80px;
  margin: 4px;
}

input {
  display: inline-block;
  width: 100px;
  margin: 4px;
}

button:focus {
  outline: 0px;
}

#signup, #signin {
  width: 500px;
  padding: 10px;
  margin: 10px;

  margin: 10px auto;
  border-style: solid;
  border-color: #eee;
  border-width: 1px;
}

.article {
  width: 90%;
  margin: 0 auto;
}

.selectedContact {
  background-color: #69D2E7;
}

.custom-restricted-width {
    /* To limit the menu width to the content of the menu: */
    display: inline-block;
    /* Or set the width explicitly: */
    /* width: 10em; */
}

.searchInput {
  margin: 0 0 1em 0;
}

.icon {
  width: 60px;
  padding: 5px;
  vertical-align: middle;
  display: inline-block;
}

.heading {
  display: inline-block;
  vertical-align: middle;
  margin: 15px 0;
}

.headingBar {
  width: 100%;
  background-color: #A7DBD8;
  color: #fff;
  height: 70px;
}

.tall {
  margin: 0;
  height: 100%;
}

#index {
  text-align: center;
  background: url('/assets/calendar.jpeg') bottom;
  height: 100%;
  background-size: cover;

}

.message {
  border-radius: 10px;
  margin: 10px;
  border: 1px solid #E0E4CC;
  padding: 0 10px;
}

.menu {
  padding: 10px;
}

.pure-button-primary {
  background-color: #69D2E7 !important;
}

.pure-menu-item {
  padding: 5px !important;
}

.hello {
  margin-top: 0px;
  padding: 40px 0 0 0;
}

#greeting {
  background-color: rgba(255,255,255,0.1);
  height: 100%;
  padding-bottom: 40px;
}

/* Analytics */

rect {fill: #ACA1F8;}
g {fill: #ccc;}
.card {  
  width: 400px;
  border: 1px solid #DDD;
  float: left;
  margin: 10px;
}

.analytics-filters {
  margin: 0;
  padding: 30px 0 0 0;
  list-style-type: none;
}
.analytics-filters li {
  display: inline;
}
.analytics-filters li a {
  padding: 5px;
  border: 1px solid #eee;
}