<div class="headingBar">
  <a href="/#/messages"><img src="assets/pigeon.png" alt="Pigeon" class="icon"></a>
  <h2 class="heading">Pigeon</h2>
</div>
<div class="pure-g">

  <div class="pure-u-1-4">
    <div class="pure-menu custom-restricted-width menu">
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="/#/messages">Messages</a></li>
        <li class="pure-menu-item"><a href="/#/contacts">Contacts</a></li>
        <li class="pure-menu-item"><a href="/#/add-contact">Add Contact</a></li>
        <li class="pure-menu-item"><a href="/#/schedule">Schedule Message</a></li>
        <li class="pure-menu-item"><a href="/#/" ng-click="signout()">Sign out</a></li>
      </ul>
    </div>
  </div>

  <div id="contacts" ng-init="getAllContacts()" class="article pure-u-3-4">
    <h2>Contacts</h2>
    <form class="pure-form">
        <input type="text" class="pure-input-rounded pure-input-2-3 searchInput" ng-model="query" placeholder="Search contacts">
    </form>
    <img src="assets/spiffygif_46x46.gif" alt="Loading" ng-show="loading">
    <table class="pure-table pure-table-horizontal">
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody ng-show="contacts">
        <tr ng-repeat="contact in contacts | orderBy: 'name' | filter:query">
          <td>{{ contact.name }}</td>
          <td>{{ contact.phone }} </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>