<div class="pure-g">

  <div class="pure-u-1-4">
    <div class="pure-menu custom-restricted-width">
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="/#/messages">Messages</a></li>
        <li class="pure-menu-item"><a href="/#/contacts">Contacts</a></li>
        <li class="pure-menu-item"><a href="/#/add-contact">Add Contact</a></li>
        <li class="pure-menu-item"><a href="/#/schedule">Schedule Message</a></li>
        <li class="pure-menu-item"><a href="/#/" ng-click="signout()">Sign out</a></li>
      </ul>
    </div>
  </div>

  <div id="messages" class="pure-u-3-4">
    <h2>Messages</h2>
    <img src="assets/spiffygif_46x46.gif" alt="Loading" ng-show="loading">
    <div class="message pure-u-1-2" ng-repeat="message in messages | orderBy: 'date'">
      <div class="contactName"><h3>{{ message.contactId.name }}</h3></div>
      <div class="text"><h4>{{ message.text }}</h4></div>
      <div class="footer">
        <p><span class="date">{{ message.date | date : 'MMM d, yyyy' }}</span>  | <span class="status">{{ message.status }}</span></p>
      </div>
    </div>
  </div>
</div>