<div class="pure-g">

  <div class="pure-u-1-4">
    <div class="pure-menu custom-restricted-width menu">
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="/#/messages">Messages</a></li>
        <li class="pure-menu-item"><a href="/#/contacts">Contacts</a></li>
        <li class="pure-menu-item"><a href="/#/add-contact">Add Contact</a></li>
        <li class="pure-menu-item"><a href="/#/schedule">Schedule Message</a></li>
        <li class="pure-menu-item"><a href="/#/" ng-click="signout()">Sign out</a></li>
      </ul>
    </div>
  </div>

  <div class="article pure-u-3-4">
    <h2>Schedule Message</h2>
    <form class="pure-form pure-form-stacked">
      <fieldset>
        <div class="pure-input-1-2">
          <label for="contactSelect">Contact</label>
          <select name="contactSelect" id="contactSelect" ng-options="contact as contact.name for contact in contacts | orderBy: 'name'" ng-model="contact" ng-change="setContact(contact || '')">
            <option value=""></option>
          </select>
        </div>

        <label for="text">Text Message</label>
        <textarea id="text" type="text" ng-model="message.text" class="pure-input-1-2"></textarea>
        <label for="date">Scheduled Date</label>
        <input id="date" type="date" ng-model="message.date" class="pure-input-1-2">
        <button ng-click="addMessage(message)" class="pure-button pure-button-primary">Submit</button> 
        <img src="assets/spiffygif_46x46.gif" alt="Loading" ng-show="loading">

      </fieldset>
    </form>
    <p>{{ notification }}</p>
  </div>
</div>
