<div id="signup">
  <div class="title">Sign Up</div>
  <form class="pure-form pure-form-stacked">
    <fieldset>
      <label for="username">User:</label>
      <input type="text" id="username" ng-model="user.username" class="pure-input-1">
      <label for="password">Password:</label>
      <input type="password" id="password" ng-model="user.password" class="pure-input-1">
      <button ng-click="signup()" class="pure-button pure-button-primary">Sign Up</button>
    </fieldset>
    <p> Already have an account? </p>
      <div><a href="/#/signin">Sign In</a></div>
</form>
</div>